@use "@/styles/tools/mixins" as *;
@use "@/styles/tokens/color" as *;

.section {
  padding-block: 3rem;
  background: $color-bg;
}


.features-grid{
    display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center; // centra las cards
  
}

h2{
  text-align: center;
}